<!DOCTYPE html>
<html>
    <head>
        <title>Registro de Galos de Briga</title>
    </head>
    <body>
        <h1>Registro de Galos de Briga</h1>
        <form action="/register" method="post">
            <label for="breed">Raça do Galo:</label><br>
            <input type="text" id="breed" name="breed" placeholder="Raça do Galo"><br>
            <label for="value">Valor:</label><br>
            <input type="text" id="value" name="value" placeholder="Valor"><br>
            <label for="size">Tamanho:</label><br>
            <input type="text" id="size" name="size" placeholder="Tamanho"><br>
            <label for="weight">Peso:</label><br>
            <input type="text" id="weight" name="weight" placeholder="Peso"><br>
            <button type="submit">Registrar</button>
        </form>
    </body>
</html>
